#altar{
   pointer-events: none;
}
#altarContainer{
   position:  relative;
   width: 90%;
   margin: 0 auto;
   height: 97%;
   border-radius: 7px;
   color: #fff;
   background: black;
   overflow: hidden;
   bottom: 0;
}
