.deactive-left{
	left: -150% !important;
	transition: left 1s;
}
.deactive-right{
	right: -150% !important;
	transition: right 1s;
}
.deactive-bottom{
   bottom: -250% !important;
   transition: bottom 1s;
}
.deactive-left-temp{
   transition: right 0s !important;;
	left: -150% !important;
}
.deactive-right-temp{
   transition: right 0s !important;;
	left: 150% !important;
}
.deactive-bottom-temp{
   transition: right 0s !important;;
   bottom: -250% !important;
}
/*Main Scene*/
#playerInfo{
   transition: left 0.7s;
}
#news{
   transition: right 1s;
}
.news-body{
   transition: left 0.5s;
}
#goToPlay{
   transition: left 1s;
}
/*Rooms*/
#createRoom{
   transition: right 1s;
}
#listRooms{
   transition: left 1s;
}
/*Achievements*/
#achievementsContainer{
   transition: all 1s;
}
#achievementsContainer.deactive-right{
   left: 150% !important;
	transition: left 1s;
}
/*Store*/
#storeItems{
   transition: all 1s;
}
#storeItems.deactive-right{
   left: 150% !important;
	transition: left 1s;
}
#altarContainer{
   transition: all 1s;
}
#altarContainer.deactive-right{
   left: 150% !important;
	transition: left 1s;
}
#elementaryContainer{
   transition: all 1s;
}
#elementaryContainer.deactive-right{
   left: 150% !important;
	transition: all 1s;
}
#clansContainer{
   transition: all 1s;
}
#clansContainer.deactive-right{
   left: 150% !important;
	transition: all 1s;
}
#rankingContainer{
   transition: all 1s;
}
#rankingContainer.deactive-right{
   left: 150% !important;
	transition: all 1s;
}
/*Transitions*/
#playerInfo.deactive-left{
	transition: left 1.5s 0.1s;
}
.news-body.deactive-left{
	transition: left 0.5s;
}
.news-body.deactive-right{
   left: 150%;
	transition: left 0.5s;
}
