
input[type="radio"] {
	display: none;
}
label {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 20px;
	cursor: pointer;
}
label::before, label::after {
	position: absolute;
	content: '';
	top: 50%;
	border-radius: 100%;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
label::before {
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
label:hover::before {
	background: #fff;
}
label::after {
	opacity: 0;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #0ff;
	-webkit-transform: scale(2);
	transform: scale(2);
}
input[type="radio"]:checked + label::before {
	background: #fff;
	border: 1px solid #0ff;
}
input[type="radio"]:checked + label::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*smallButton*/
:root {
  --btn-bottom-color: #050;
  --grad-top-first: green;
  --grad-top-second: blue;
}
.smallButton {
    display: inline-block;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 6px 0 var(--btn-bottom-color);
    -moz-box-shadow: 0 6px 0 var(--btn-bottom-color);
    box-shadow: 0 6px 0 var(--btn-bottom-color);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
	 font-weight: bold;
    font-size: 15px;
    color: #fff;
	 cursor: pointer;
}

.smallButton span {
    display: inline-block;
    padding: 7px 18px;
    background: -webkit-linear-gradient(green, darkgreen);
    background: -moz-linear-gradient(green, darkgreen);
    background: -o-linear-gradient(green, darkgreen);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.smallButton:hover span {
    text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

.smallButton:active, .smallButton:focus {
    -webkit-box-shadow:    0 6px 0 var(--btn-bottom-color);
    -moz-box-shadow: 0 6px 0 var(--btn-bottom-color);
    box-shadow:    0 6px 0 var(--btn-bottom-color);
}

.smallButton:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
/*Input Text*/
input[type="text"], input[type="password"], select{
   border: 1px solid #FFF;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -khtml-border-radius: 7px;
   background: black;
   outline: none;
	padding-left: 10px;
   color: #FFF;
   font-size: 15px;
   font-family: Tahoma;
}
input[type="text"]:focus, input[type="password"]:focus{
	border: 2px solid #0FF;
	color: #0FF;
}
input[type="text"]:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0; /* Firefox */
}
input[type="text"]:focus::-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0;
}
input[type="text"]:focus::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0;
}
input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #033;
  opacity: 1; /* Firefox */
  font-weight: bold;
  font-size: 15px;
}
input[type="text"]::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #033;
	opacity: 1;
	font-weight: bold;
   font-size: 15px;
}
input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  color: #033;
  opacity: 1;
  font-weight: bold;
  font-size: 15px;
}
::selection {
  background: #0FF;
  color: black;
  font-weight: bold;
}
/*Selection*/
option {
	color: #FFF;
	background: black;
}
select{
	position: relative;
	left: -3%;
	width: 153px;
}
