
input[type="radio"] {
	display: none;
}
input[type="radio"] + label {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 20px;
	cursor: pointer;
}
input[type="radio"] + label::before, input[type="radio"] + label::after {
	position: absolute;
	content: '';
	top: 50%;
	border-radius: 100%;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
input[type="radio"] + label::before {
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
input[type="radio"] + label:hover::before {
	background: #fff;
}
input[type="radio"] + label::after {
	opacity: 0;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #0ff;
	-webkit-transform: scale(2);
	transform: scale(2);
}
input[type="radio"]:checked + label::before {
	background: #fff;
	border: 1px solid #0ff;
}
input[type="radio"]:checked + label::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*Checkbox*/
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 20px;
	cursor: pointer;
}
input[type="checkbox"] + label::before, input[type="checkbox"] + label::after {
	position: absolute;
	content: '';
	top: 50%;
	border-radius: 20%;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
input[type="checkbox"] + label::before {
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -8px;
	background: #f3f3f3;
	border: 1px solid #ccc;
}
input[type="checkbox"] + label:hover::before {
	background: #fff;
}
input[type="checkbox"] + label::after {
	opacity: 0;
	left: 4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #0ff;
	-webkit-transform: scale(2);
	transform: scale(2);
}
input[type="checkbox"]:checked + label::before {
	background: #fff;
	border: 1px solid #0ff;
}
input[type="checkbox"]:checked + label::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*smallButton*/
:root {
  --btn-bottom-color: #050;
  --grad-top-first: green;
  --grad-top-second: blue;
}
.smallButton {
    display: inline-block;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 6px 0 var(--btn-bottom-color);
    -moz-box-shadow: 0 6px 0 var(--btn-bottom-color);
    box-shadow: 0 6px 0 var(--btn-bottom-color);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
	 font-weight: bold;
    font-size: 15px;
    color: #fff;
	 cursor: pointer;
}

.smallButton span {
    display: inline-block;
    padding: 7px 18px;
    background: -webkit-linear-gradient(green, darkgreen);
    background: -moz-linear-gradient(green, darkgreen);
    background: -o-linear-gradient(green, darkgreen);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.smallButton:hover span {
    text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

.smallButton:active, .smallButton:focus {
    -webkit-box-shadow:    0 6px 0 var(--btn-bottom-color);
    -moz-box-shadow: 0 6px 0 var(--btn-bottom-color);
    box-shadow:    0 6px 0 var(--btn-bottom-color);
}

.smallButton:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
/*Input Text*/
input[type="text"], input[type="password"]{
   border: 1px solid #FFF;
   border-radius: 7px;
	height: 26px;
   background: black;
   outline: none;
	padding-left: 10px;
   color: #FFF;
   font-size: 15px;
   font-family: Tahoma;
}
input[type="text"]:hover, input[type="password"]:hover{
	border: 1px solid #0FF;
	color: #0FF;
}
input[type="text"]:focus::placeholder,  input[type="password"]:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0; /* Firefox */
}
input[type="text"]::placeholder, input[type="password"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #033;
  opacity: 1; /* Firefox */
  font-weight: bold;
  font-size: 15px;
}
::selection {
  background: #0FF;
  color: black;
  font-weight: bold;
}
/*Select*/
.select {
	width: 100%;
	border-radius: 7px;
	border: 1px solid #fff;
	overflow: hidden;
	color: #ffffff;
	font-weight: 300px;
	margin: 0;
	position: relative;
	height: auto;
	max-height: calc(30px * 5); /* max 8 element in list */
	transition: 0.2s;
	margin-bottom: 10px;
}
.select:hover{
	border-color: #0FF;
}
.select:before {
	content: '';
	position: absolute;
	background-color: #FFF;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	top: 12px;
	right: 15px;
}
.select:hover:before{
	background-color: #0FF;
}
.select:after {
	content: '';
	position: absolute;
	background-color: #000;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	top: 17px;
	right: 15px;
}
.select.collapsed {
	max-height: 30px;
	transition: 0.2s;
}
.select.collapsed:before {
	content: '';
	position: absolute;
	background-color: #ffffff;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	top: 8px;
	right: 15px;
}
.select.collapsed:hover:before{
	background-color: #0FF;
}
.select.collapsed:after {
	content: '';
	position: absolute;
	background-color: #000;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	top: 3px;
	right: 15px;
}
.option,.select .shown {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	cursor: pointer;
	background-color: #000;
}
.option:hover{
		color: #0FF;
}
.select .shown {
	background-color: #000;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
}
.select:hover .shown {
	border-bottom: 1px solid #0FF;
}
