#main{

}
#playerInfo{
	display: inline-table;
	position:  relative;
	width: 39%;
	height: 25%;
	padding: 0 20px;
	left: 5%;
	top: 0;
	border-radius: 7px;
	background: black;
	transition: left 1s;
}
#news{
	display: inline-table;
	position:  relative;
	width: 39%;
	height: 97%;
	padding: 20px;
	border-radius: 7px;
	background: black;
	float: right;
	right: 5%;
	color: #fff;
	text-align: left;
	overflow: hidden;
	transition: right 1s;
}
#goToPlay{
	display: inline-table;
	position:  relative;
	width: 39%;
	height: 66.8%;
	padding: 20px;
	border-radius: 7px;
	background: black;
	left: 5%;
	top: 4.5%;
	transition: left 1s;
}
.deactiveMain-left{
	left: -100% !important;
	transition: left 1s;
}
.deactiveMain-right{
	right: -100% !important;
	transition: right 1s;
}
.portrait-crop{
	position: absolute;
    height: 90px;
    width: 90px;
	top:50%;
	left: 5%;
	bottom: 50%;
	transform: translate(0, -50%);
	border: 5px solid #0ff;
	border-radius: 7px;
	overflow: hidden;
}
#ava-notation{
	position: relative;
	display: block;
	width: 65%;
	height: 100%;
	float: right;
	top: 25px;
	right: 0;
	margin: 0;
	color: #fff;
}
.ava-notation-element{
	margin: 2px;
	padding: 2;
}
.news-notation{
	position: relative;
	display: block;
	width: 350px;
	height: 150px;
	right: 0;
	color: #fff;
	margin: auto;
	border: 5px solid #0ff;
	border-radius: 7px;
	overflow: hidden;
}
.news-body{
   font-size: 90%;
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   height: 100%;
   transition: left 0.5s;
}
.news-body p{
   margin: 20px;
   margin-right: 10px;
}
.news-container-mobile{
	font-size: 80%;
	position: absolute;
	margin:5px;
}

.news-footer{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.deactive-left{
   left: -100%;
	transition: left 0.5s;
}
.deactive-right{
   left: 100%;
	transition: left 0.5s;
}
