element {
  --main-bg-color: #003A3C;
  --bg-color: #334E57;
  --main-color: #0ff;
}

body{
	margin: 0;
	background: var(--bg-color);
}
canvas{
   background-color: #0ff;
}
#preload{
   position: relative;
   min-width: 860px;
   width: 900px;
   height: 650px;
   user-select: none;
   overflow: hidden;
   background: black;
   color: white;
   text-align: center;
   margin: 0;
   padding: 0;
}
#preload-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 200px;
   height: 200px;
   margin: 0;
}
#preload-container h1{
   margin: 0;
}
#load-block1{
   position: absolute;
   top: 70%;
   left: 50%;
   width: 150px;
   height: 150px;
   border-top-color: #a46dbd;
   border-bottom-color: #a46dbd;
   animation: spin 2s infinite linear;
   transform-origin: 0% 0%;
}
#load-block2{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 130px;
   height: 130px;
   border-top-color: #037180;
   border-bottom-color: #037180;
   animation: spin 2s infinite linear;
   transform-origin: 0% 0%;
}
#load-block3{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 110px;
   height: 110px;
   border-top-color: #de1010;
   border-bottom-color: #de1010;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
#load-block4{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90px;
   height: 90px;
   border-top-color: #916711;
   border-bottom-color: #916711;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
#load-block5{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 70px;
   height: 70px;
   border-top-color: green;
   border-bottom-color: green;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
#load-block6{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50px;
   height: 50px;
   border-top-color: orange;
   border-bottom-color: orange;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
#load-block7{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 30px;
   height: 30px;
   border-top-color: yellow;
   border-bottom-color: yellow;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
#load-block8{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   height: 10px;
   border-top-color: blue;
   border-bottom-color: blue;
   animation: spin 4s infinite linear;
   transform-origin: 0% 0%;
}
.load-block{
   border-radius: 50%;
   border: 3px solid transparent;
}
@keyframes spin {
 from { transform: rotate(0deg) translate(-50%, -50%); }
 to { transform: rotate(360deg) translate(-50%, -50%); }
}

#game{
	position: relative;
	min-width: 860px;
	width: 900px;
	height: 650px;
	user-select: none;
	overflow: hidden;
}
#play{
	width: 100%;
	height: 100%;
	position: absolute;
}
#canvasPlay{
   display: none;
}
#interface{
	min-width: 860px;
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 0;
}
#firstLine{
	position: relative;
	width: 90%;
	height: 7%;
	top: 2%;
	left: 5%;
	background: black;
	border-radius: 7px;
}
#lvl{
   position: relative;
   left: 10px;
   margin-right: 10px;
   width:45px;
   height: 100%;
   float: left;
}
#lvl img{
   position: absolute;
   left: 5px;
   top:50%;
   transform: translate(0, -50%);
}
#lvl p{
   position: relative;
   top:50%;
   transform: translate(0, -50%);
   text-align: center;
   font-weight: bold;
   color: white;
   font-size: 20px;
   margin: 0 auto;
   text-shadow:
   0px 0px 10px black,
   0px 0px 9px black,
   0px 0px 8px black,
   0px 0px 7px black,
   0px 0px 6px black,
   0px 0px 5px black,
   0px 0px 4px black,
   0px 0px 3px black,
   0px 0px 2px black,
   0px 0px 1px black;
}
#experience{
   position: relative;
   float: left;
   background: linear-gradient(to top, #088 60%, #fff 100%, #088 100%);
   width: 200px;
   height: 50%;
   top:50%;
   transform: translate(0, -50%);
   text-align: center;
   border-radius: 7px;
   overflow: hidden;
}
#experience p{
   position: relative;
   top:50%;
   transform: translate(0, -50%);
   margin:0;
   font-size: 15px;
   color: white;
   font-weight: bold;
   text-shadow:
   0px 0px 6px black,
   0px 0px 5px black,
   0px 0px 4px black,
   0px 0px 3px black,
   0px 0px 2px black,
   0px 0px 1px black;
}
#experience div{
   position: absolute;
   width: 0%;
   height: 100%;
   background: linear-gradient(to top, #082 60%, #fff 100%, #082 100%);
}
#secondLine{
	position: relative;
	width: 90%;
	height: 4%;
	top: 3%;
	left: 5%;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	color: white;
	background: black;
}

.menu li{
	display: block;
	position: relative;
	left: -3.5%;
	float: left;
	margin: 10px %100;
	padding: 2px 10px;
	font-weight: bold;
	cursor: pointer;
}
.menu li:hover, .menu li.active{
	background: #0ff;
	outline: 1px solid #0ff;
	color: black;
	transition: 0.8s;
}
.menuScene{
   position: absolute;
	width: 100%;
	height: 80%;
}
.inDevText {
   position: relative;
   text-align: center;
   top: 50%;
   transform: translate(0, -50%);
}
#modal{
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.9);
}
#modal-message{
   position: absolute;
   width: 30%;
   height: auto;
   top:50%;
   transform: translate(0, -50%);
   left: 0;
   right: 0;
   margin: auto;
   padding: 10px;
   background: black;
   border-radius: 7px;
   border: 1px solid white;
}
#modal-message p{
   position: relative;
   margin-bottom: 30px;
   color: white;
   text-align: center;
}
#modal-message .smallButton{
   position: relative;
   left: 50%;
   bottom: 15px;
   transform: translate(-50%, 0);
}
#modal-message .smallButton.prompt, #modal-message .smallButton.confirm{
   left: 25px;
   bottom: 5px;
}
#modal-message .smallButton.prompt.red{
   float: right;
   margin-right: -6%;
}
#modal-message .smallButton.confirm.red{
   float: right;
   margin-right: -5px;
}
#modal-message input{
   position: relative;
   width: 95%;
   margin-right: 0;
   top: -20px;
}
#friends{
   position: absolute;
   bottom: -150px;
   width: 100%;
   height: 180px;
   transition: 0.5s;
}
#friends:hover{
   bottom: 0px;
   transition: 0.5s;
}
#friends-block{
   position: absolute;
   bottom: 60px;
   width: 100%;
   height: 30px;
   background: black;
   border-top: 1px solid #aaa;
   border-bottom: 1px solid #aaa;
}
#friends-list{
   position: absolute;
   bottom: 0;
   margin: 0;
   padding: 0;
   width: auto;
   height: 150px;
   white-space: nowrap;
}
#friends-list p{
   margin: 3px;
   font-size: 12px;
   font-weight: bold;
   color: white;
}
#friends-list li{
   display: inline-block;
   position: relative;
   width: 120px;
   height: 140px;
   margin-left: 10px;
   top:50%;
   transform: translate(0, -50%);
   text-align: center;
	cursor: pointer;
   background: black;
   border-radius: 7px;
   border: 1px solid #aaa;
   transition: 0.2s;
   overflow: hidden;
}
.friend-ava{
   border-radius: 7px;
   border: 1px solid #aaa;
   width: 90px;
   height: 90px;
   overflow: hidden;
   margin: 0 auto;
}
#friends-list li:hover{
   border: 1px solid #0ff;
   top:40%;
   transition: 0.2s;
}
#friends-list li:hover .friend-ava{
   border: 1px solid #0ff;
}
