canvas {
	margin: auto; 
	position: absolute; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	display: block; 
	padding: 0;
	border: 2px solid black;
}
body{
	background-size: 50px 50px;
	background-color: #334E57;
	background-image: -webkit-linear-gradient(0deg, #003A3C 50%, transparent 50%, transparent);
	background-image: -moz-linear-gradient(0deg, #003A3C 50%, transparent 50%, transparent);
	background-image: linear-gradient(90deg, #003A3C 50%, transparent 50%, transparent);
}
