h1{
	text-align:center;
	font-size:40px;
	color:#790018;
	z-index: 1;
}
body{
	/* background-image: url(image/Interer/Fon.jpg); */
	z-index: 0;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.inputName {
	width: 200px;
	height: 25px;	
}

.gameIcons {
	z-index: 1;

	position: absolute;

	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;

	top: 35%;
	transform: translate(0, -50%);
	left: 50%;
	transform: translate(-50%, 0);

	font-family: fantasy;

	width: 500px;
	height: 200px;
	border: 2px solid black;
	border-radius: 5%;

	background-color: white;
}

#photo {
	z-index: -1;
}

.buttons-list {
	position: absolute;
	display: flex;
	flex-direction: column;
}

.button-in-buttons {
	margin-bottom: 10px;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 5%;
}