:root{
	--redFirst: #E6071A;
	--redSecond: #DE7AA0;
	--snow: #E3ECF3;
	--blueFirst: #8FCCE8;
	--blueSecond: #1B8DCC;
}
body{
	width: 100%; height: 100%;
   background: #8FCCE8;
}
b{
	display: block;
	margin: 0 0 5px 0;
	color: #1B8DCC;
	font-size: 32px;
	text-align: center;
}
p{
	color: #1B8DCC;
	text-shadow: 0px 0px 0px #000000;
	padding: 0 40px;
}
#particles-js{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #8FCCE8;
}
.main{
	left: 0; right: 0;
	min-width: 350px;
	width: 70%; height: auto;
	margin: 50px auto; padding: 50px 5px;
	background-color: #E3ECF3;
	border: 1px solid #1B8DCC;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	        align-content: flex-start;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	left: 0; right: 0;
	-webkit-box-shadow: 7px 7px 17px -3px rgba(0,0,0,0.81);
	-moz-box-shadow: 7px 7px 17px -3px rgba(0,0,0,0.81);
	box-shadow: 7px 7px 17px -3px rgba(0,0,0,0.81);
}
nav li{
	display: block;
	position: relative;
	padding: 2px 5px;
	text-align: center;
	width: auto;
	font-weight: bold;
	cursor: pointer;
}
nav li:hover, nav li.active{
	background: #E3ECF3;
	color: #1B8DCC;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	-moz-transition: 0.7s;
	transition: 0.7s;
}
nav{
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 0 20px 0;
	padding: 0;
	width: 92%;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	color: #E3ECF3;
	background: #1B8DCC;
}
nav ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	   -moz-box-orient: horizontal;
	   -moz-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	width: 90%;
	margin: 2px 0; padding:0;
}
#info ul{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0; padding: 0;
}
#info li{
	position: relative;
	display: block;
	margin: 10px; padding: 20px 10px 20px 60px;
	min-height: 37px;
	background: #1B8DCC;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	color: #E3ECF3;
	font-weight: bold;
}
#info li:before{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	left: 10px;
	width: 30px; height: 30px;
	content: '✔';
	font-size: 50px;
	color: #E6071A;
	border: 2px solid #DE7AA0;
	-webkit-border-radius:  7px;
	   -moz-border-radius:  7px;
	        border-radius:  7px;
}
#info{
	width: 50%;
}
#notation{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#ava{
	position: relative;
	display: block;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	width: 300px; height: 300px;
	overflow: hidden;
	border: 2px solid #1B8DCC;
}
.photoBlocks{
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-align-content: flex-start;
	    -ms-flex-line-pack: start;
	        align-content: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.photo{
	width: 270px;
	height: 170px;
	margin: 10px;
	border: 1px solid #1B8DCC;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	overflow: hidden;
}
@media (max-width: 1022px) {
	#info{
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		   -moz-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: 90%;
	}
	nav ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-flow: column wrap;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
	}
	nav li{
		width: 107%;
	}
	nav li#startli{
		-webkit-border-top-left-radius: 7px;
		   -moz-border-radius-topleft: 7px;
		        border-top-left-radius: 7px;
		-webkit-border-top-right-radius: 7px;
		   -moz-border-radius-topright: 7px;
		        border-top-right-radius: 7px;
	}
	nav li#endli{
		-webkit-border-bottom-left-radius: 7px;
		   -moz-border-radius-bottomleft: 7px;
		        border-bottom-left-radius: 7px;
		-webkit-border-bottom-right-radius: 7px;
		   -moz-border-radius-bottomright: 7px;
		        border-bottom-right-radius: 7px;
	}
}
