/* Стили логина */
body {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  font-size: 14px;
  background: #34495E;
}
.parrent{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box {
  width:300px;
  padding: 40px;
  background: #191919;
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = 'text'],.box input[type = 'password'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = 'text']:focus,.box input[type = 'password']:focus {
  width: 280px;
  border-color: #2ecc71;
}

.box input[type='submit']{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type='submit']:hover{
  background: #2ecc71;
}

.title{
  color: white;
}

.by {
  align-self: flex-end;
  margin-right: 7%;
  color: orange;
  font-family: 'WESTERN';
}

.login_status {
  position: absolute;
  margin-top: 100px;
  color: #191919;
}

.box h2{
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}