.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.deactive-left{
	left: -150% !important;
	transition: all 1s;
}
.deactive-right{
	right: -150% !important;
	transition: all 1s;
}
.deactive-bottom{
   bottom: -250% !important;
   transition: all 1s;
}
.deactive-left-temp{
	left: -150% !important;
   transition: all 0s !important;
}
.deactive-right-temp{
	left: 150% !important;
   transition: all 0s !important;
}
.deactive-bottom-temp{
   bottom: -250% !important;
   transition: all 0s !important;
}
/*Main Scene*/
#playerInfo{
   transition: left 0.7s;
}
#news{
   transition: right 1s;
}
.news-body{
   transition: left 0.5s;
}
#goToPlay{
   transition: left 1s;
}
/*Rooms*/
#createRoom{
   transition: right 1s;
}
#listRooms{
   transition: left 1s;
}

/*Big blocks*/
.bigScene{
   transition: all 1s;
}
.bigScene.deactive-right{
   left: 150% !important;
	transition: all 1s;
}
/*Transitions*/
#playerInfo.deactive-left{
	transition: all 1.5s 0.1s;
}
.news-body.deactive-left{
	transition: all 0.5s;
}
.news-body.deactive-right{
   left: 150%;
	transition: all 0.5s;
}
