html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x:hidden;
}
body::-webkit-scrollbar {
	width: 0px;
	
}
@font-face {
	font-family: "Montserrat-Regular";
	src: url(./../../fonts/Montserrat-Regular.ttf);
}
*{
    font-family: Montserrat-Regular;
}