#courses{
  padding-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/course_bg.svg);
  background-attachment: fixed;
  background-position-y: 100px;
}
#courses ul h2{
  text-transform: uppercase;
  width: 57%;
}
#courses .wrapper{
  display: flex;
  justify-content: center;
  position: relative;
}
#courses ul{
  position: relative;
  padding: 0;
  margin: 0;
  width: 570px;
  min-width: 270px;
  overflow: hidden;
}
#courses h1{
  align-self:flex-start;
  position: absolute;
  left: 20px;
  top: -120px;
  text-transform: uppercase;
}
#courses ul:nth-child(2n){
  margin-right: 40px;
}
#courses ul:nth-child(2n - 1){
  top: 120px;
  margin-bottom: 120px;
}
#courses a{
  all: inherit;
  width: 100%;
  height: 100%;
  padding: 36px 0px 26px  67px;
}
#courses li{
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 70px;
  width: 100%;
  height: 225px;
  color: #F5F5F7;
  border-radius: 5px;
  background:#424F6F;
  background-size: 145%;
  background-position: 50% 50%;
  list-style: none;
  transition: 0.2s;
}
#courses li:nth-child(2n){
  background-color:#1F254A;
}
#courses li:hover{
  border-radius: 50px;
  transition: 0.1s;
}
#courses li p{
  position: absolute;
  bottom: 10px;
}
@media (max-width: 1220px) {
  #courses .wrapper{
    flex-direction: column;
    align-items: center;
  }
  #courses ul:nth-child(2n){
    margin-right: 0px;
  }
  #courses ul:nth-child(2n - 1){
    top: 0;
    margin-bottom: 0;
  }
}
@media(max-width: 600px){
  #courses ul h2{
    font-size: 120%;
  }
  #courses li{
    padding-left: 40px;
  }
  #courses ul{
    width: 90%;
  }
}
@media(max-width: 340px){
  #courses ul h2{
    font-size: 110%;
  }
  #courses li{
    padding-left: 20px;
    margin-bottom: 20px;
  }
}